.existing {
    color: green
}

.button {
    width: 17px;
    height: 17px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    float: right;
}

div.inputContainer {
    white-space:nowrap;
}

div.inputContainer > .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
    color: darkRed;
}

div.inputContainer > input {
    width: 80% !important;
}

.delete {
    color: darkred;
}

.disabled {
    opacity: 0.7;
}

.numeric {
    text-align: right;
}

.dialogContainer {
    display: flex;
    align-items: top;
}

.quickHelp {
    padding-top: 1rem;
}

