<div style="display: grid; grid-auto-flow: row; height: 100vh; max-height: 100vh; grid-template-rows: auto 1fr;">
    <main-header title="Low voltage network"></main-header>
    <div>
        <as-split direction="horizontal" (dragStart)="splitStart()" (dragEnd)="splitEnd()">
            <as-split-area [size]="70">
                <app-map></app-map>
            </as-split-area>
            <as-split-area  [size]="30">
                <mat-tab-group *ngIf="mapPowerService.HasSolarInstallations" animationDuration="0ms" [preserveContent]="false" style="height: 100%">
                    <mat-tab label="Load profiles"  style="height: 100%">
                        <app-load-profiles></app-load-profiles>
                    </mat-tab>
                    <mat-tab label="Solar installations"  style="height: 100%">
                        <app-solar-installations>Solar installations!</app-solar-installations>
                    </mat-tab>
                </mat-tab-group>                    
                <app-load-profiles *ngIf="!mapPowerService.HasSolarInstallations"></app-load-profiles>
            </as-split-area>
        </as-split>
    </div>
</div>
<app-maintenance-overlay></app-maintenance-overlay>