.mat-column-name {
    width: 30%;
    padding-right: 1rem;
}

.mat-column-type {
    padding-right: 1rem;
    width: 12rem;
}

.mat-column-capacity {
    text-align: right;
}

.mat-column-scaledGeneration {
    text-align: right;
    padding-right: 1rem;
}

.mat-column-nodeCount {
}

.mat-column-icon {
    max-width: 32px !important;
    min-width: 32px !important;
    width: 32px !important;
    padding-left: 0 !important;
}
