.mat-column-code {
    width: 10%;
}

.mat-column-node1Code {
    min-width: 150px;
    width: 25%;    
}


.mat-column-node2Code {
    min-width: 150px;
    width: 25%;    
}

.mat-column-type {
    width: 120px;
}

.mat-column-maxCtrl {
    width: 120px;
    text-align: right;
    padding-right: 1rem;
}

.mat-column-minCtrl {
    width: 120px;
    text-align: right;
    padding-right: 1rem;
}

.mat-column-cost {
    width: 120px;
    text-align: right;
    padding-right: 1rem;
}

.mat-column-setPoint {
    width: 120px;
    text-align: right;
    font-style: italic;
    color: green;
}