.mat-column-code {
    width: 10%;
    padding-right: 0.5rem;
}

.mat-column-nodeZone1 {
    width: 25%;
    padding-right: 0.5rem;
}


.mat-column-nodeZone2 {
    width: 25%;
    padding-right: 0.5rem;
}

.mat-column-type {
    width: 120px;
}

.mat-column-maxCtrl {
    width: 120px;
    text-align: right;
    padding-right: 2.5rem;
}

.mat-column-minCtrl {
    width: 120px;
    text-align: right;
    padding-right: 2.5rem;
}

.mat-column-cost {
    width: 120px;
    text-align: right;
    padding-right: 2.5rem;
}

.mat-column-setPoint {
    width: 120px;
    text-align: right;
    font-style: italic;
    padding-right: 2.5rem ! important;
}
