bin
obj
/.vs/SmartEnergyLabDataApi
Logs
*.pack
/SmartEnergyLabGui/ClientApp/package-lock.json
/SmartEnergyLabGui/ClientApp/.angular
ASP_BUILD
SmartEnergyLabDataApi/SmartEnergyLabDataApi.zip
SmartEnergyLabGui/SmartEnergyLabGui.zip
package-lock.json
SmartEnergyLabDataApi/App_Data
__pycache__
EvDemandModel/EvDemandModel/Data
EvDemandModel/EvDemandModel.zip
SmartEnergyLabDataApi/debugDbHost.txt
SmartEnergyLabDataApi/_debugDbHost.txt
SmartEnergyLabDataApi/VersionData.cs
