bin
obj
/.vs/SmartEnergyLabDataApi
Logs
*.pack
/SmartEnergyLabGui/ClientApp/package-lock.json
/SmartEnergyLabGui/ClientApp/.angular
ASP_BUILD
SmartEnergyLabDataApi/SmartEnergyLabDataApi.zip
SmartEnergyLabGui/SmartEnergyLabGui.zip
package-lock.json
SmartEnergyLabDataApi/App_Data
__pycache__
EvDemandModel/EvDemandModel/Data
EvDemandModel/EvDemandModel.zip
SmartEnergyLabDataApi/debugDbHost.txt
SmartEnergyLabDataApi/_debugDbHost.txt
SmartEnergyLabDataApi/VersionData.cs
SmartEnergyLabGui/ClientApp/src/app/main/about-dialog/about-dialog.component.ts
SmartEnergyLabDataApi/smart-energy-lab (service account).json
SmartEnergyLabDataApi/smart-energy-lab (api key).txt
