<div style="overflow: auto; height: calc(100vh - 170px)">

    <table style="width: 100%;" mat-table [dataSource]="branches" [trackBy]="getBranchId" matSort>
    
        <!-- code -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
          <td mat-cell *matCellDef="let element">{{element.obj.code}}</td>
        </ng-container>
    
        <!-- node1 -->
        <ng-container matColumnDef="node1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Node 1</th>
          <td mat-cell *matCellDef="let element">{{element.obj.node1Code}}</td>
        </ng-container>
    
        <!-- node2 -->
        <ng-container matColumnDef="node2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Node 2</th>
          <td mat-cell *matCellDef="let element">{{element.obj.node2Code}}</td>
        </ng-container>
    
        <!-- region -->
        <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
            <td mat-cell *matCellDef="let element">{{element.obj.region}}</td>
        </ng-container>
    
        <!-- x -->
        <ng-container matColumnDef="x">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">X</th>
            <td mat-cell *matCellDef="let element">{{element.obj.x.toFixed(3)}}</td>
        </ng-container>
            
        <!-- cap -->
        <ng-container matColumnDef="cap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Cap</th>
            <td mat-cell *matCellDef="let element">{{element.obj.cap.toFixed(0)}}</td>
        </ng-container>
            
        <!-- link type -->
        <ng-container matColumnDef="linkType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Link type</th>
            <td mat-cell *matCellDef="let element">{{element.obj.linkType}}</td>
        </ng-container>

        <!-- free power -->
        <ng-container matColumnDef="freePower">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Free</th>
            <td mat-cell *matCellDef="let element">{{element.freePower?.toFixed(0)}}</td>
        </ng-container>

        <!-- power flow -->
        <ng-container matColumnDef="powerFlow">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Flow</th>
            <td mat-cell *matCellDef="let element">{{element.powerFlow?.toFixed(0)}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>            
</div>
    
