div.mapButton {
    position: relative;
}

div.mapButton > div {
    position:absolute;
    right: 12px;
    top: 6px;
    width: 35px;
    height: 35px;
    padding: 5px;
    z-index: 2000; /* needed to prevent being covered by the tab control and mouse over title of the paginator */
    background-color: white;
}

div.mapButton > div > img:hover {
    cursor:pointer;
    opacity: 1;
}

div.mapButton > div > img {
    width: 100%;
    opacity: 0.5;
}

div.mapButton > div.offset {
    right: 40px;
}

.hide {
    display: none;
}

.output {
    color: green;
}
