.editable:hover {
    border: 1px solid grey;
}

.editable {
    border-radius: 3px;
    border: none;
    border: 1px solid transparent;
}

.text {
    width: 100%;
    text-align: left;
}

.numeric {
    width: 4rem;
    text-align: right;
}

.existing {
    color: navy
}


.button {
    width: 17px;
    height: 17px;
    font-size: 16px;
    display:inline-block;
}

.editButtons {
    position:absolute;
    top: 1px;
    right: -18px;
    display: inline-block;
    cursor: pointer;
    z-index: 5;
}

.delete {
    color: darkred;
    margin-right: 0px;
}

.disabled {
    cursor: default;
    opacity: 0.5;
}

.cancel {
    color: darkred;
}

.save {
    color: green;
}

.hide {
    color: transparent !important;
    cursor:default;
}

.input {
    /*display: inline-block;    */
    position: relative;
}

.error {
    position: absolute;
    right: 0;
    top: 27px;
    background: darkred;
    color: white;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

