<div class="mapInfoWindow">
    <div class="inlineFlexRow">
        <img src="/assets/images/primary-substation.png" style="width: 30px">
        <span>PRIMARY SUBSTATION</span>
    </div>
    <table id="table">
        <tr>
            <td>Name:</td>
            <td>{{mapPowerService.SelectedPrimarySubstation?.name}} ({{mapPowerService.SelectedPrimarySubstation?.id}})</td>
        </tr>
        <tr>
            <td>Substations:</td>
            <td>{{mapPowerService.NumberOfDistributionSubstations}}</td>
        </tr>
        <tr>
            <td>Customers:</td>
            <td>{{mapPowerService.NumberOfCustomers}}</td>
        </tr>
    </table>
    <div id="buttonRow">
        <img [class]="{ imgButton: true, enabled: this.evDemandService.status.isReady}" src="/assets/images/EV.png" (click)="runEVDemandTool()" title="run EV Demand tool" />
        <mat-icon class="iconButton" (click)="downloadEvDemandJson()" title="download EvDemand json">cloud_download</mat-icon>
    </div>
</div>
