
div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background-color: var(--primary-colour);
  color: white;
}

span.mode {
    margin-left: 2em;
    font-size: 20pt;
    font-weight: bold;
    color:red;
}

img.substationIcon {
    width: 20px;
    margin-right: 10px;
}

