.mat-column-code {
    width: 25%;
}

.mat-column-demand {
    text-align: right;
    padding-right: 2.5rem;
}

.mat-column-generation_A {
    text-align: right;
    padding-right: 2.5rem;
}

.mat-column-generation_B {
    text-align: right;
    padding-right: 2.5rem;
}

.mat-column-tlf {
    text-align: right;
    padding-right: 0.5rem;
    font-style: italic;
    color: green;
}

.mat-column-km {
    text-align: right;
    padding-right: 0.5rem;
    font-style: italic;
    color: green;
}

.mat-column-mismatch {
    text-align: right;
    justify-content: flex-end;
    font-style: italic;
    color: green;
}

.defaultTableHeader {
    font-weight: 300;
    color: black;
}