<app-table-paginator [dataFilter]="dataFilter" (onFilter)="filterTable($event)" (onAdd)="add()" [typeName]="'Node'"></app-table-paginator>

<app-div-auto-scroller name="nodes">

    <table class="dataTable" #table mat-table [dataSource]="data" [trackBy]="getDataId" matSort [matSortActive]="sortColumn" [matSortDirection]="sortDirection" matSortDisableClear (matSortChange)="sortTable($event)">

        <!-- buttons Column -->
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <app-cell-buttons [element]="element" typeName="Node" (onEdit)="edit($event)"></app-cell-buttons>
            </td>
        </ng-container>
        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <app-column-filter [filter]="codeDataFilter" title="Code"></app-column-filter>
            </th>
            <td mat-cell *matCellDef="let element">
                <app-loadflow-node-cell [nodeCode]="element.code.value" [nodeName]="element.name.value"></app-loadflow-node-cell>
            </td>
        </ng-container>

        <!-- Voltage Column -->
        <ng-container matColumnDef="voltage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-column-filter [filter]="voltageDataFilter" title="Voltage"></app-column-filter>
            </th>
            <td mat-cell *matCellDef="let element">{{element.voltage.value}}</td>-->
        </ng-container>

        <!-- Zone Column -->
        <ng-container matColumnDef="zoneName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  arrowPosition="before">
                <app-column-filter [filter]="zoneDataFilter" title="Zone"></app-column-filter>
            </th>
            <td mat-cell *matCellDef="let element">{{element.zoneName.value}}</td>-->
        </ng-container>

        <!-- Demand Column -->
        <ng-container matColumnDef="demand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Demand</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.demand" [decimalPlaces]="0"></app-cell-editor>
            </td>
        </ng-container>

        <!-- Generator -->
        <ng-container matColumnDef="generation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Generation (MW)
            <td mat-cell *matCellDef="let element">
                <table *ngIf="element.generators.value.length>0 || element.deletedGenerators.value.length> 0" class="genTable">
                    <tbody>
                        <tr *ngFor="let g of element.generators.value">
                            <td>
                                <div class="generatorButton" [class]="{isLocalEdit: isLocalGenerator(element.id.value, g)}">
                                    <app-mini-icon-button title="Delete" (click)="deleteGenerator(element.id.value,g)" iconName="delete_forever" style="font-size: 1rem; vertical-align: middle;"></app-mini-icon-button>
                                    <app-loadflow-gen-svgs [genType]="g.type"></app-loadflow-gen-svgs>
                                    <span>{{g.name}}</span>
                                </div>
                            </td>
                            <td>{{g.scaledGenerationPerNode.toFixed(0)}}</td>
                        </tr>
                        <tr *ngFor="let g of element.deletedGenerators.value" class="deleted">
                            <td>
                                <app-mini-icon-button title="Un-delete" (click)="unDeleteGenerator(element.id.value,g)" iconName="restore_from_trash" style="font-size: 1rem; vertical-align: middle;"></app-mini-icon-button>
                                <span>{{g.name}}</span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><span style="margin-left: 17px">Total</span></td>
                            <td>{{element.generation.value.toFixed(0)}}</td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </ng-container>

        <!-- Ext Column -->
        <ng-container matColumnDef="ext">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ext</th>
            <td mat-cell *matCellDef="let element">
                <input type="checkbox" [checked]="element.ext.value" disabled/>
            </td>
        </ng-container>

        <!-- TLF Column -->
        <ng-container matColumnDef="tlf">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">TLF (%)</th>
            <td mat-cell *matCellDef="let element">{{getTLFPercent(element)}}</td>
        </ng-container>

        <!-- km Column -->
        <ng-container matColumnDef="km">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">km</th>
            <td mat-cell *matCellDef="let element">{{element.km?.value?.toFixed(1)}}</td>
        </ng-container>

        <!-- Mismatch  Column -->
        <ng-container matColumnDef="mismatch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"><div [style]="getOverallMismatchStyle()">Mismatch</div></th>
            <td mat-cell *matCellDef="let element"><div [style]="getMismatchStyle(element.mismatch?.value)">{{element.mismatch?.value?.toExponential(3)}}</div></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">

        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{isDeleted: row._isDeleted}"></tr>
    </table>
</app-div-auto-scroller>
