.mat-column-code {
    width: 25%;
}

.mat-column-voltage {
    text-align:right;
    padding-right: 1rem;
}

.mat-column-zoneName {
    text-align:right;
    padding-right: 1rem;
}

.mat-column-demand {
    text-align: right;
    padding-right: 2.5rem;
}

.mat-column-generation {
    width: 25%;
    padding-right: 1rem;
}


.mat-column-tlf {
    text-align: right;
    padding-right: 0.5rem;
    font-style: italic;
    color: green;
}

.mat-column-km {
    text-align: right;
    padding-right: 0.5rem;
    font-style: italic;
    color: green;
}

.mat-column-mismatch {
    text-align: right;
    justify-content: flex-end;
    font-style: italic;
    color: green;
}

.defaultTableHeader {
    font-weight: 300;
    color: black;
}

table.genTable {
    width: 100%;
}

table.genTable > tbody {
    font-size: 0.8rem;
}

table.genTable td:nth-child(1) {
    padding-right: 0.5rem;
}

table.genTable td:nth-child(2) {
    text-align: right;
}

table.genTable tr.deleted td {
    text-decoration: line-through;
    opacity: 0.7;
}

table.genTable > tfoot {
    font-size: 0.8rem;
    font-weight: bold;
    border-top: 1px dotted lightgrey;
}

div.generatorButton {
    text-align: left;
    border-left: 3px solid transparent;
    margin-left: 3px;
    white-space: nowrap;
}

div.isLocalEdit {
    border-left-color: green;
}


