
.mat-column-code {
    width: 10%;
    padding-right: 5px;   
}

.mat-column-node1Code {
    min-width: 100px;
    width: 15%;    
}


.mat-column-node2Code {
    min-width: 100px;
    width: 15%; 
    padding-left: 5px;   
}

.mat-column-region {
}

.mat-column-x {
    text-align: right;
    padding-right: 2.5rem   
}

.mat-column-cap {
    text-align: right;
    padding-right: 0.5rem;
}

.mat-column-type {
}

.mat-column-freePower {
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-powerFlow {
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-km {
    /* width: 100px; */
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-mwkm {
    /* width: 100px; */
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-loss {
    /* width: 100px; */
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-trip {
    text-align: right;
}
