<app-table-paginator [dataFilter]="dataFilter"  helpId="data.branches" helpTitle="Branches" (onFilter)="filterTable($event)" (onAdd)="add()" [typeName]="typeName"></app-table-paginator>

<app-div-auto-scroller>
    <table class="branch" style="width: 100%;" mat-table [dataSource]="data" [trackBy]="getDataId" matSort  [matSortActive]="sortColumn" [matSortDirection]="sortDirection"  matSortDisableClear (matSortChange)="sortTable($event)">

        <!-- buttons Column -->
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <app-cell-buttons [element]="element" [typeName]="typeName" (onEdit)="edit($event)"></app-cell-buttons>
            </td>
        </ng-container>

        <!-- code -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <app-quick-help helpId="data.branches.code" title="Code" iconClass="small leftOffset"></app-quick-help>
            Code
          </th>
          <td mat-cell *matCellDef="let element">
            <app-loadflow-branch-code-cell [branchCode]="element.code.value" [node1LocationId]="element.node1LocationId.value" [node2LocationId]="element.node2LocationId.value" [ctrlId]="element.ctrlId.value"></app-loadflow-branch-code-cell>
          </td>
        </ng-container>

        <!-- node1 -->
        <ng-container matColumnDef="node1Code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <app-quick-help helpId="data.branches.node" title="Node1" iconClass="small leftOffset"></app-quick-help>
            Node 1
          </th>
          <td mat-cell *matCellDef="let element">
            <app-loadflow-node-cell [nodeCode]="element.node1Code.value" [nodeName]="element.node1Name.value" [isBranch]="true"></app-loadflow-node-cell>
          </td>
        </ng-container>

        <!-- node2 -->
        <ng-container matColumnDef="node2Code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <app-quick-help helpId="data.branches.node" title="Node2" iconClass="small leftOffset"></app-quick-help>
            Node 2
          </th>
          <td mat-cell *matCellDef="let element">
            <app-loadflow-node-cell [nodeCode]="element.node2Code.value" [nodeName]="element.node2Name.value" [isBranch]="true"></app-loadflow-node-cell>
          </td>
        </ng-container>

        <!-- type -->
        <ng-container matColumnDef="typeStr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <app-quick-help helpId="data.branches.type" title="Type" iconClass="small leftOffset"></app-quick-help>
                <app-column-filter [filter]="typeDataFilter" title="Type"></app-column-filter>
            </th>
            <td mat-cell *matCellDef="let element">
                <div>{{element.typeStr.value}}</div>
                <!-- show linkType if other -->
                <div *ngIf="element.type.value==0">({{element.linkType.value}})</div>
            </td>
        </ng-container>

        <!-- ohl -->
        <ng-container matColumnDef="ohl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  arrowPosition="before">
                <app-quick-help helpId="data.branches.ohl" title="Overhead Line" iconClass="small"></app-quick-help>
                <div>OHL<br>Length (km)</div>
            </th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.ohl" [decimalPlaces]="0"></app-cell-editor>
            </td>
        </ng-container>

        <!-- cable length -->
        <ng-container matColumnDef="cableLength">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.cableLength" title="Cable Length" iconClass="small"></app-quick-help>
                <div>Cable<br>Length (km)</div>
            </th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.cableLength" [decimalPlaces]="0"></app-cell-editor>
            </td>
        </ng-container>

        <!-- x -->
        <ng-container matColumnDef="x">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.x" title="Reactance" iconClass="small"></app-quick-help>
                X
            </th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.x" [decimalPlaces]="3"></app-cell-editor>
            </td>
        </ng-container>

        <!-- r -->
        <ng-container matColumnDef="r">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.r" title="Resistance" iconClass="small"></app-quick-help>
                R
            </th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.r" [decimalPlaces]="3"></app-cell-editor>
            </td>
        </ng-container>

        <!-- cap -->
        <ng-container matColumnDef="cap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.capacity" title="Capacity" iconClass="small"></app-quick-help>
                Cap
            </th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.cap" [decimalPlaces]="0"></app-cell-editor>
            </td>
        </ng-container>

        <!-- trip -->
        <ng-container matColumnDef="trip">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <app-quick-help helpId="data.branches.trips" title="Trips" iconClass="small leftOffset"></app-quick-help>
                <div style="line-height: 120%">
                    <div>Trips</div>
                    <div class="cellLink" style="color: blue; text-decoration: underline; opacity: 0.5;" (click)="clearTrips($event);">clear</div>
                </div>
            </th>
            <td mat-cell *matCellDef="let element">
                <input type="checkbox" [disabled]="canTrip" [checked]="isTripped(element.id.value)" (change)="toggleTrip($event,element.id.value)"/>
            </td>
        </ng-container>

        <!-- free power -->
        <ng-container matColumnDef="freePower">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.freePower" title="Free power" iconClass="small"></app-quick-help>
                <div [style]="getOverallFreePowerStyle()">Free</div>
            </th>
            <td mat-cell *matCellDef="let element"><div [style]="getFreePowerStyle(element.freePower?.value)">{{element.freePower?.value?.toFixed(0)}}</div></td>
        </ng-container>

        <!-- power flow -->
        <ng-container matColumnDef="powerFlow">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.powerFlow" title="Power flow" iconClass="small"></app-quick-help>
                Flow
            </th>
            <td mat-cell *matCellDef="let element">{{element.powerFlow?.value?.toFixed(0)}}</td>
        </ng-container>

        <!-- percentCapacity -->
        <ng-container matColumnDef="percentCapacity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.percentCap" title="Percentage capacity" iconClass="small"></app-quick-help>
                % Cap
            </th>
            <td mat-cell *matCellDef="let element"><div [style]="flowCapStyle(element.type.value, element.percentCapacity?.value)">{{element.percentCapacity?.value?.toFixed(0)}}</div></td>
        </ng-container>

        <!-- km -->
        <ng-container matColumnDef="km">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.km" title="Km" iconClass="small"></app-quick-help>
                Km
            </th>
            <td mat-cell *matCellDef="let element">{{element.km?.value?.toFixed(1)}}</td>
        </ng-container>

        <!-- mwkm -->
        <ng-container matColumnDef="mwkm">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.MWkm" title="Mwkm" iconClass="small"></app-quick-help>
                MW.km
            </th>
            <td mat-cell *matCellDef="let element">{{element.mwkm?.value?.toFixed(0)}}</td>
        </ng-container>

        <!-- loss -->
        <ng-container matColumnDef="loss">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">
                <app-quick-help helpId="data.branches.loss" title="Loss" iconClass="small"></app-quick-help>
                Loss
            </th>
            <td mat-cell *matCellDef="let element">{{element.loss?.value?.toFixed(3)}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{isDeleted: row._isDeleted}"></tr>
    </table>
</app-div-auto-scroller>


