
.mat-column-code {
    width: 10%;
    padding-right: 5px;   
}

.mat-column-node1Code {
    min-width: 100px;
    width: 15%;    
}


.mat-column-node2Code {
    min-width: 100px;
    width: 15%; 
    padding-left: 5px;   
}

.mat-column-region {
   /* width: 50px;*/
}

.mat-column-x {
   /* width: 100px;*/
    text-align: right;
    padding-right: 1rem   
}

.mat-column-cap {
  /*  width: 100px;*/
    text-align: right;
    padding-right: 2rem;
}

.mat-column-type {
    /*width: 80px;*/
}

.mat-column-freePower {
    /*width: 100px;*/
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-powerFlow {
    /* width: 100px; */
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-km {
    /* width: 100px; */
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-mwkm {
    /* width: 100px; */
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-loss {
    /* width: 100px; */
    text-align: right;
    font-style: italic;
    color: green;
}
