<app-table-paginator [dataFilter]="dataFilter" (onFilter)="filterTable($event)" (onAdd)="add()" [typeName]="typeName"></app-table-paginator>

<app-div-auto-scroller>
    <table style="width: 100%;" mat-table [fixedLayout]="true" [dataSource]="branches" [trackBy]="getBranchId" matSort  matSortActive="code" matSortDirection="asc"  matSortDisableClear (matSortChange)="sortTable($event)">
    
        <!-- buttons Column -->
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <app-cell-buttons [element]="element" [typeName]="typeName" (onEdit)="edit($event)"></app-cell-buttons>
            </td>
        </ng-container>

        <!-- code -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let element">{{element.code.value}}</td>
        </ng-container>
    
        <!-- node1 -->
        <ng-container matColumnDef="node1Code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Node 1</th>
          <td mat-cell *matCellDef="let element">
            <div>{{element.node1Code.value}}</div>
            <div *ngIf="element.node1Name.value" class="nodeName">({{element.node1Name.value}})</div>
          </td>
        </ng-container>
    
        <!-- node2 -->
        <ng-container matColumnDef="node2Code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Node 2</th>
          <td mat-cell *matCellDef="let element">
            <div>{{element.node2Code.value}}</div>
            <div *ngIf="element.node2Name.value" class="nodeName">({{element.node2Name.value}})</div>
          </td>
        </ng-container>
        
        <!-- x -->
        <ng-container matColumnDef="x">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">X</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.x" [decimalPlaces]="3"></app-cell-editor>
            </td>
        </ng-container>
            
        <!-- cap -->
        <ng-container matColumnDef="cap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Cap</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.cap" [decimalPlaces]="3"></app-cell-editor>
            </td>
        </ng-container>
            
        <!-- link type -->
        <ng-container matColumnDef="linkType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Link type</th>
            <td mat-cell *matCellDef="let element">{{element.linkType.value}}</td>
        </ng-container>

        <!-- free power -->
        <ng-container matColumnDef="freePower">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Free</th>
            <td mat-cell *matCellDef="let element">{{element.freePower?.value?.toFixed(0)}}</td>
        </ng-container>

        <!-- power flow -->
        <ng-container matColumnDef="powerFlow">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Flow</th>
            <td mat-cell *matCellDef="let element">{{element.powerFlow?.value?.toFixed(0)}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{isDeleted: row._isDeleted}"></tr>
    </table>            
</app-div-auto-scroller>

    
