
.mat-column-code {
    width: 100px;
}

.mat-column-node1Code {
}

.mat-column-node2Code {
}

.mat-column-region {
    width: 50px;
}

.mat-column-x {
    width: 120px;
    text-align: right;
    padding-right: 1rem   
}

.mat-column-cap {
    width: 120px;
    text-align: right;
    padding-right: 1rem;
}

.mat-column-linkType {
    width: 120px;
}

.mat-column-freePower {
    width: 120px;
    text-align: right;
    font-style: italic;
    color: green;
}

.mat-column-powerFlow {
    width: 120px;
    text-align: right;
    font-style: italic;
    color: green;
}
