<app-div-auto-scroller [adjustWidth]="true">
    <table style="width: 100%;" mat-table [dataSource]="trips" matSort>
        <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  arrowPosition="before">Capacity</th>
            <td mat-cell *matCellDef="let element">{{element.capacity.toFixed(2)}}</td>
        </ng-container>

        <ng-container matColumnDef="surplus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Surplus</th>
            <td mat-cell *matCellDef="let element">{{element.surplus.toFixed(2)}}</td>
        </ng-container>
        
        <ng-container matColumnDef="trip">
            <th mat-header-cell *matHeaderCellDef>Trip</th>
            <td mat-cell *matCellDef="let element">{{(element.trip != null) ? element.trip.text : "Intact"}}</td>
        </ng-container>

        <ng-container matColumnDef="limCct">
            <th mat-header-cell *matHeaderCellDef>Lim Cct</th>
            <td mat-cell *matCellDef="let element">
                <div style="white-space: nowrap;">
                    <div *ngFor="let lc of element.limCct" style="line-height: 120%">{{lc}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container *ngFor="let c of getCtrls()" matColumnDef="{{c.code}}">
            <th mat-header-cell *matHeaderCellDef>
                <div style="padding-right: 1rem; text-align: right; color: green">{{c.code}}</div>
            </th>
            <td mat-cell *matCellDef="let element">
                <div style="padding-right: 1rem; text-align: right;  color: green">{{getSetPoint(element,c.code)}}</div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
<app-div-auto-scroller>
