.mat-column-surplus {
    text-align: right;
    padding-right: 0.5rem;
    color: green;
}
.mat-column-capacity {
    text-align: right;
    padding-right: 0.5rem;
    color: green;
}

.mat-column-limCct {
    font-size: 7pt;
    padding-right: 0.5rem;
    color: green;
}

.mat-column-trip {
    padding-right: 0.5rem;
    color: green;
}


