<div class="mapInfoWindow">
    <div class="inlineFlexRow">
        <img src="/assets/images/grid-supply-point.png" style="width: 30px">
        <span>GRID SUPPLY POINT</span>
    </div>
    <table id="table">
        <tr>
            <td>Name:</td>
            <td>{{mapPowerService.SelectedGridSupplyPoint?.name}}</td>
        </tr>
        <tr>
            <td>Primary substations</td>
            <td>{{mapPowerService.NumberOfPrimarySubstations}}</td>
        </tr>
        <tr>
            <td>Distribution substations</td>
            <td>{{mapPowerService.NumberOfDistributionSubstations}}</td>
        </tr>
        <tr>
            <td>Customers</td>
            <td>{{mapPowerService.NumberOfCustomers}}</td>
        </tr>
        <tr>
            <td>Number of EVs</td>
            <td>{{mapPowerService.NumberOfEVs ? mapPowerService.NumberOfEVs.toFixed(0):''}}</td>
        </tr>
        <tr>
            <td>Number of HPs</td>
            <td>{{mapPowerService.NumberOfHPs ? mapPowerService.NumberOfHPs.toFixed(0):''}}</td>
        </tr>
    </table>
    <div id="buttonRow">
        <img class="imgButton" src="/assets/images/EV.png" (click)="runEVDemandTool()" title="run EV Demand tool" />
    </div>
</div>

