<div class="mapInfoWindow">
    <div class="inlineFlexRow">
        <span style="width: 10px"></span>
        <span>{{name}}</span>
    </div>
    <div class="branchContainer">
        <app-boundcalc-branch-info-table *ngIf="this.branches.length>0" [branches]="this.branches"></app-boundcalc-branch-info-table>
        <div *ngIf="this.branches.length===0" class="noneAvailable">No branches defined</div>
        <div *ngFor="let branch of deletedBranches">
            <app-map-buttons typeName="Branch" [element]="branch" [isDeleted]="true">
                {{branch.displayName}}
            </app-map-buttons>
        </div>
    </div>
</div>
