.mat-column-code {
    min-width: 140px;
    width: 14%;
}

.mat-column-node1Code {
    min-width: 140px;
    width: 14%;
}

.mat-column-node2Code {
    min-width: 140px;
    width: 14%;
}

.mat-column-type {
    min-width: 60px;
    width: 10%;
}

.mat-column-maxCtrl {
    min-width: 80px;
    width: 10%;
    text-align: right;
}

.mat-column-minCtrl {
    min-width: 80px;
    width: 10%;
    text-align: right;
}

.mat-column-cost {
    min-width: 80px;
    width: 10%;
    text-align: right;
}

.mat-column-setPoint {
    min-width: 80px;
    width: 10%;
    text-align: right;
    font-style: italic;
}