div.mapButton {
    position: relative;
}

div.mapButton > div {
    display: flex;
    align-items: center;
    position:absolute;
    right: 12px;
    top: 0px;
    width: 35px;
    height: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1000; /* needed to prevent being covered by the tab control and mouse over title of the paginator */
    background-color: white;
}

div.mapButton > div > img:hover {
    cursor:pointer;
    opacity: 1;
}

div.mapButton > div > img {
    width: 100%;
    opacity: 0.5;
    vertical-align: bottom;
}

div.mapButton > div.offset {
    right: 36px;
    border-left: 1px solid #ddd;
}

.hide {
    display: none;
}

.output {
    color: green;
}
