<div class="mapInfoWindow">
    <div class="inlineFlexRow">
        <img src="/assets/images/distribution-substation.png" style="width: 30px">
        <span>DISTRIBUTION SUBSTATION</span>
    </div>    
    <table id="table">
        <tr>
            <td>Name:</td>
            <td>{{mapPowerService.SelectedDistributionSubstation?.name}}</td>
        </tr>
        <tr>
            <td>Rating (kW):</td>
            <td>{{mapPowerService.SelectedDistributionSubstation?.substationData?.rating}}</td>
        </tr>
        <tr>
            <td>Day/night max demand (kW):</td>
            <td>{{mapPowerService.SelectedDistributionSubstation?.substationData?.dayMaxDemand}}/{{mapPowerService.SelectedDistributionSubstation?.substationData?.nightMaxDemand}}</td>
        </tr>
        <tr>
            <td>Customers:</td>
            <td>{{mapPowerService.NumberOfCustomers}}</td>
        </tr>
        <tr>
            <td>Number of EVs:</td>
            <td>{{mapPowerService.NumberOfEVs ? mapPowerService.NumberOfEVs.toFixed(0):''}}</td>
        </tr>
        <tr>
            <td>Number of HPs:</td>
            <td>{{mapPowerService.NumberOfHPs ? mapPowerService.NumberOfHPs.toFixed(0):''}}</td>
        </tr>
    </table>
    <div id="buttonRow">
        <mat-icon class="iconButton" (click)="edit()" title="edit">edit</mat-icon>
        <mat-icon class="iconButton" (click)="runClassificationTool()" title="run classification tool">directions_run</mat-icon>
        <img [class]="{imgButton: true, enabled: this.evDemandService.status.isReady}" src="/assets/images/EV.png" (click)="runEVDemandTool()" title="run EV Demand tool"/>
    </div>
</div>
