<app-dialog-header [dialogRef]="dialogRef">Transmission Boundary Capability Calculator v1.0</app-dialog-header>
<div style="display: grid; grid-auto-flow: column; width: 500px; margin-bottom: 2rem">
    <img src="/assets/images/bath-uni-logo.png" style="height: 50px"/>
    <div style="padding-left: 1.5rem;">
        <p>
            Based on a spreadheet developed by Lewis Dale. 
        </p>
        <p>
            Developed into a web-based program by Robert Oldaker in association with the University of Bath.
        </p>    
    </div>
</div>
<app-dialog-footer [dialogRef]="dialogRef" [buttons]="DialogFooterButtons.Close"></app-dialog-footer>
