<app-dialog-header [dialogRef]="dialogRef">Reset password</app-dialog-header>
<div mat-dialog-content id="content" style="width:10cm">
    <form [formGroup]="form">
        <div>
            <mat-form-field style="width:7cm">
                <mat-label>New password</mat-label>
                <input matInput placeholder="Enter new password" formControlName="newPassword1" [type]="'password'" autocomplete="new-password">
                <mat-error>{{getError('newPassword1')}}</mat-error>    
            </mat-form-field>    
        </div>
        <div>
            <mat-form-field style="width:7cm">
                <mat-label>Confirm new password</mat-label>
                <input matInput placeholder="Confirm password" formControlName="newPassword2" [type]="'password'"  autocomplete="new-password">
                <mat-error>{{getError('newPassword2')}}</mat-error>    
            </mat-form-field>    
        </div>    
    </form>
</div>
<app-dialog-footer [dialogRef]="dialogRef" (onOk)="save()">
</app-dialog-footer>


