<div style="display: grid; grid-auto-flow: row; height: 100vh; max-height: 100vh; grid-template-rows: auto 1fr;">
    <app-loadflow-header title="Transmission Boundary Capability Calculator"></app-loadflow-header>
    <div>
        <as-split direction="horizontal" (dragStart)="splitStart()" (dragEnd)="splitEnd($event)" [unit]="'pixel'">
            <as-split-area [size]="450" #leftDiv>
                <app-loadflow-dialog></app-loadflow-dialog>
                <hr style="margin:0; border: 2px solid #aaa;"/>
                <app-loadflow-stages></app-loadflow-stages>    
            </as-split-area>
            <as-split-area #rightDiv>
                <app-loadflow-data></app-loadflow-data>
            </as-split-area>
        </as-split>
    </div>
</div>
