table.key {
    background: #fefefe;
    border: 2px solid #fefefe;
    border-radius: 3px;  
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
    border-collapse: separate;
    border-spacing: 0 10px;
    padding-right: 4px;

    font-size: 12px;
    font-weight: bold;
    /*
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    letter-spacing: 2px;
    */
}

table.key > tr > td > img {
    height: 30px
}

.branchLink {
    cursor: pointer;
    color: blue;
    margin-left: 0.5rem;
}

.branchLink.first {
    margin-left: 0rem !important;    
}

.branchLink:hover {
    text-decoration: underline;
}
