.mat-column-reference {
    width: 10%;
}

.mat-column-name {
    width: 25%;
}

.mat-column-latitude {
    text-align: right;
}

.mat-column-longitude {
    text-align: right;
}

.mat-column-source {
    padding-left: 4rem;
}