<div style="display: grid; grid-auto-flow: row; height: 100vh; max-height: 100vh; grid-template-rows: auto 1fr;">
    <app-elsi-header title="GB Electricity Market Simulator"></app-elsi-header>

    <as-split *ngIf="this.user" direction="horizontal" (dragStart)="splitStart()" (dragEnd)="splitEnd($event)" [unit]="'pixel'">
        <as-split-area [size]="380" style="overflow: hidden" #leftDiv>
            <app-elsi-dialog></app-elsi-dialog>
            <hr style="margin:0; border: 2px solid #aaa;"/>
            <app-elsi-log></app-elsi-log>
        </as-split-area>
        <as-split-area #rightDiv style="overflow: hidden">
            <app-elsi-results></app-elsi-results>
        </as-split-area>
    </as-split>

    <div *ngIf="!this.user">
        <div *ngIf="this.userInfoValid" class="noUser">Please <span class="link" (click)="logon()">logon</span> or <span class="link" (click)="register()">register</span> to use GB Electricity Market Simulator
        </div>
    </div>

</div>
<app-maintenance-overlay></app-maintenance-overlay>
