.slider {
    width: 100%
}

div.sliderContainer {
    padding: 20px;
}

div.buttons {
    text-align: right;
    margin-bottom: 1rem;
}

div.footnote {
    padding: 1rem;
}

div.sectionTitle {
    font-weight: bold;
    color: var(--primary-colour);
    font-size: 1em;
}

div.section {
    font-size: 0.9em;
    color: #666;
    padding-left: 1rem;
}
