div.tableContainer {
}

div.size {
    margin-bottom: 1rem;
    font-size: 1rem;
    float: right;
}

table.data {
    margin-top: 1rem;
    width: 100%;
}

img.dnoImg {
    width: 50px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

div.toolbar > button {    
    margin-right: 0.5rem;
}

