<div class="header">
    <div class="toolbar">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="dbBackupMenu">
            Backup database
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #dbBackupMenu="matMenu">
            <button mat-menu-item (click)="backupDb(true,false)">
                <span>SFTP to Backup server</span>
            </button>
            <button mat-menu-item (click)="backupDb(false,true)">
                <span>Restore to Staging server</span>
            </button>
            <button mat-menu-item (click)="backupDb(true,true)">
                <span>SFTP and Restore</span>
            </button>
        </mat-menu>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="loadNetworkDataMenu">
            Backup database locally
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #loadNetworkDataMenu="matMenu" >
            <button mat-menu-item (click)="backupDbLocally(ApplicationGroup.All)">
                <span>All</span>
            </button>
            <button mat-menu-item (click)="backupDbLocally(ElsiAndBoundCalc)">
                <span>BoundCalc and Elsi only</span>
            </button>
        </mat-menu>
        <button mat-raised-button color="primary" (click)="performCleanup()" disabled="{{inCleanup}}">
            <div *ngIf="inCleanup" style="display: inline-block">
                <mat-spinner diameter="20"></mat-spinner>
            </div>
            <mat-icon *ngIf="!inCleanup">build</mat-icon>
            Perform cleanup
        </button>
    </div>
    <div class="size">
        <div>Database size: <b>{{model?.size}}</b></div>
        <div *ngIf="model?.diskUsage?.found">Disk space: <b>{{model?.diskUsage?.used}} GB</b> used, <b>{{model?.diskUsage?.available}} GB</b> avail</div>
    </div>
</div>
<div>
    <mat-tab-group [preserveContent]="true" (selectedTabChange)="tabChange($event)">
        <mat-tab label="Transmission network">
            <app-trans-data></app-trans-data>
        </mat-tab>
        <mat-tab label="Distribution network">
            <app-dist-data></app-dist-data>
        </mat-tab>
    </mat-tab-group>
</div>
