div.header {
    display: flex;
    justify-content: space-between;
}

div.size {
    font-size: 0.8rem;
    text-align: right;
    justify-items: right;
}

div.toolbar > button {    
    margin-right: 0.5rem;
}

