div.buttonContainer {
    text-align: left;
    border-left: 4px solid transparent;
    margin-left: 3px;
    white-space: nowrap;
    font-size: 1.1rem;
    padding-right: 0.5rem;
}

div.isLocalEdit {
    border-left-color: green;
}

button.rowButton {
    color: darkgray;
    font-size: 20px;
}

button.rowButton:hover {
    color: #333;
}
