.mat-column-demand {
    text-align: right;
}

.mat-column-code {
    min-width: 200px;
    width: 25%;    
}

.mat-column-generation {
    text-align: right;
    padding-right: 3rem;
}

.mat-column-mismatch {
    text-align: right;
    justify-content: flex-end;
    font-style: italic;
}
