div.toolbar {
    margin-top: 1rem;
}

div.toolbar > button {    
    margin-right: 0.5rem;
}

div.message {
    color: darkred;
}

div.title {
    color: var(--primary-colour);
    font-size: 0.9rem;    
    font-weight: bold;
    margin-top: 2rem;
}
