<div>
    <div class="message">{{message}}</div>
    <div class="title" style="margin-top: 0">Maintenance</div>
    <div class="toolbar">
        <div *ngIf="mainService.maintenanceMode" class="maintenanceMode">Maintenance mode is ON</div>
        <button mat-raised-button color="primary" (click)="startMaintenance()" [disabled]="mainService.maintenanceMode">Start maintenance mode</button>
        <button mat-raised-button color="primary" (click)="stopMaintenance()" [disabled]="!mainService.maintenanceMode">Stop maintenance mode</button>    
    </div>
    <div class="title">System</div>
    <div class="toolbar">
        <span>Number of processors <b>{{mainService.processorCount}}</b></span>
    </div>

    <div class="title">EV Demand Tool</div>
    <div class="toolbar">
        <div class="error">{{evDemandService.errorMessage}}</div>
        <button mat-raised-button color="primary" (click)="restartEVDemandTool()">Restart</button>
        <label>Is running
            <input type="checkbox" disabled [checked]="evDemandService.status.isRunning"/>
        </label>
        <label style="margin-left: 1rem">Is ready
            <input type="checkbox" disabled [checked]="evDemandService.status.isReady"/>
        </label>
    </div>

</div>
