<div>
    <div class="message">{{message}}</div>
    <div class="toolbar">
        <button mat-raised-button color="primary" (click)="backupDb()">Backup Database</button>
        <button mat-raised-button color="primary" (click)="loadNetworkData()">Load network data</button>
    </div>
    <div class="toolbar">
        <button mat-raised-button color="primary" (click)="startMaintenance()">Start maintenance</button>
        <button mat-raised-button color="primary" (click)="stopMaintenance()">Stop maintenance</button>    
    </div>
</div>
