div.notFound {
    text-align: center;
    padding-top: 5rem;
}

div.mainTitle {
    font-size: 25pt;
}

div.mainTitle img {
    width: 50px;
    margin-right: 1rem;
}

div.prompt {
    font-size: 15pt;
    padding-top: 2rem;
}

div.appEntry {
    padding-top: 1rem;
    font-size: 12pt;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
