div.signalRStatus {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    box-sizing:content-box;
    z-index: 100;
    border: 5px solid transparent
}

div.signalRStatus.disconnected {
    border-bottom-color: darkred;
    border-right-color: darkred;
}

div.signalRStatus.connected {
    border-bottom-color: green;
    border-right-color: green;
}