.mat-column-mainzoneStr {
    width: 5rem;
    padding-right: 1rem;
}

.mat-column-profileStr {
}

.mat-column-communityRenewables {
    text-align: right;
}

.mat-column-twoDegrees {
    text-align: right;
}

.mat-column-steadyProgression {
    text-align: right;
}

.mat-column-consumerEvolution {
    text-align: right;
}


