<div style="height: calc(100vh - 200px); overflow-y: scroll; padding-right: 1rem">

    <app-table-paginator [dataFilter]="dataFilter" (onFilter)="filterTable($event)"></app-table-paginator>

    <table style="width: 100%;" #table mat-table [dataSource]="tableData" [trackBy]="getId" matSort matSortActive="typeStr" matSortDirection="asc" matSortDisableClear (matSortChange)="sortTable($event)">

        <!-- Type Column -->
        <ng-container matColumnDef="typeStr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element">{{element.typeStr.value}}</td>
        </ng-container>

        <!-- Efficiency Column -->
        <ng-container matColumnDef="efficiency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Eff (%)</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.efficiency" [scalingFac]="100" [decimalPlaces]="0"></app-cell-editor>
            </td>
        </ng-container>

        <!-- Emissions rate Column -->
        <ng-container matColumnDef="emissionsRate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">CO2 kg/GJ</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.emissionsRate"></app-cell-editor>
            </td>
        </ng-container>

        <!-- Forced days Column -->
        <ng-container matColumnDef="forcedDays">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Forced days</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.forcedDays" [decimalPlaces]="2"></app-cell-editor>
            </td>
        </ng-container>

        <!-- Planned days Column -->
        <ng-container matColumnDef="plannedDays">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Planned days</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.plannedDays"></app-cell-editor>
            </td>
        </ng-container>

        <!-- Maintenance costs  Column -->
        <ng-container matColumnDef="maintenanceCost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">O&M Euro/MWh</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.maintenanceCost" [decimalPlaces]="1"></app-cell-editor>
            </td>
        </ng-container>

        <!-- Fuel costs  Column -->
        <ng-container matColumnDef="fuelCost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Fuel Euro/GJ</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.fuelCost" [decimalPlaces]="2"></app-cell-editor>
            </td>
        </ng-container>

        <!-- Warm start  Column -->
        <ng-container matColumnDef="warmStart">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Warm start Gj/MW</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.warmStart"></app-cell-editor>
            </td>
        </ng-container>

        <!-- Wear and tear start  Column -->
        <ng-container matColumnDef="wearAndTearStart">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Wear Euro/MW</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.wearAndTearStart"></app-cell-editor>
            </td>
        </ng-container>

        <!-- Endurance  Column -->
        <ng-container matColumnDef="endurance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Endurance</th>
            <td mat-cell *matCellDef="let element">
                <app-cell-editor [data]="element.endurance"></app-cell-editor>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>