div.bottomButtons {
    text-align: center;
    margin-top: 0.5em;
}

.small-icon-button {
    height: 20px !important;
    line-height: 16px !important;
    font-size: 10px;
 
    .mat-icon {
       width: 16px !important;
       height: 16px !important;
       line-height: 16px !important;
    }
    .material-icons {
       font-size: 16px !important;
    }
 }

div.itemContainer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 7rem;
    overflow-y: auto;
    margin-top: 0.5rem;
}

div.miniButtonContainer {
    margin-top: 0.5rem;
}
