<mat-tab-group animationDuration="0ms" [preserveContent]="true" [selectedIndex]="selected.value"
(selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="Map">
        <app-loadflow-map></app-loadflow-map>
    </mat-tab>
    <mat-tab label="Nodes">
        <app-loadflow-data-nodes></app-loadflow-data-nodes>
    </mat-tab>
    <mat-tab label="Branches">
        <app-loadflow-data-branches></app-loadflow-data-branches>
    </mat-tab>
    <mat-tab label="Controls">
        <app-loadflow-data-ctrls></app-loadflow-data-ctrls>
    </mat-tab>
    <mat-tab *ngIf="showAllTripResults" label="All trip results" >
        <app-loadflow-trip-results></app-loadflow-trip-results>
    </mat-tab>
</mat-tab-group>    
  
