div.buttonContainer {
    display: inline-block;
    line-height: 100%;
}

.matIconButton {
    cursor: pointer;
    opacity: 0.5;
}

.matIconButton.disabled {
    cursor: default;
    opacity: 0.4;
}

.matIconButton:hover {
    opacity: 1;
    color: blue;
}

.matIconButton.disabled:hover {
    opacity: 0.4;
}
