div.chartContainer {
    display: grid;
    grid-auto-flow: row;
}

div.chart.borderBottom {
    border-bottom: 1px solid lightgray;
}

div.chartTitle {
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 50px;
}


