<div class="chartContainer" [style]="{height: chartContainerHeight, gridTemplateRows: gridTemplateRows}">
    <div style="height: 0.5rem">
    </div>
    <div class="chart borderBottom" #chart>
       <div class="chartTitle">GB Total Demand (MW) for <b>{{selectedDate}}</b></div>
        <app-e-charts-wrapper [options]="this.chartOptionsMap.get(ChartType.GBTotal)"
            (chartInit)="onChartInit($event,ChartType.GBTotal)" [styles]="{height: chartHeight}">
        </app-e-charts-wrapper>
    </div>
    <div class="chart borderBottom" #chart>
        <div class="chartTitle">Total Demand (MW) for group <b>{{selectedGroupStr}}</b></div>
        <app-e-charts-wrapper [options]="this.chartOptionsMap.get(ChartType.GroupTotal)"
            (chartInit)="onChartInit($event,ChartType.GroupTotal)"
            [styles]="{height: chartHeight}"></app-e-charts-wrapper>
    </div>
    <div class="chart borderBottom" #chart>
        <div class="chartTitle">Demand (MW) for GSP <b>{{selectedGspStr}}</b></div>
        <app-e-charts-wrapper [options]="this.chartOptionsMap.get(ChartType.Gsp)"
            (chartInit)="onChartInit($event,ChartType.Gsp)"
            [styles]="{height: chartHeight}"></app-e-charts-wrapper>
    </div>
</div>
