<div class="dialogContainer">
    <div class="controlGroup">
        <!-- datasets selector -->
        <div style="margin-right: 1rem">
            <app-dataset-selector [datasetType]="datasetTypes.BoundCalc" [showQuickHelp]="true"
            (onSelected)="onDatasetSelected($event)" (onReload)="onReload($event)"></app-dataset-selector>
        </div>

        <!-- Boundary -->
        <app-quick-help-dialog-group helpId="dialog.boundary" helpTitle="Boundary" style="padding-right: 0.5rem">
            <mat-form-field appearance="fill" [color]="'primary'">
                <mat-label>Boundary</mat-label>
                <mat-select [(ngModel)]="boundaryName">
                    <mat-option [value]="'Unspecified'">Unspecified</mat-option>
                    <mat-option *ngFor="let b of boundaries" [value]="b.code">{{b.code}}</mat-option>
                </mat-select>
            </mat-form-field>
        </app-quick-help-dialog-group>

        <!-- Trips -->
        <app-quick-help-dialog-group *ngIf="this.boundaryName==='Unspecified'" helpId="dialog.trips" helpTitle="Trips" style="margin-bottom: 1rem">
            <div style="padding-top: 1rem">
                <b>{{numberOfTrips}}</b> trips <span class="cellLink" style="color: navy; text-decoration: underline;"
                (click)="clearTrips($event);">clear</span>
            </div>
        </app-quick-help-dialog-group>

        <!-- Boundary trips -->
        <app-quick-help-dialog-group *ngIf="this.boundaryName!=='Unspecified' && boundaryTripResults.length>0" helpId="dialog.boundaryTrips" helpTitle="Boundary trips">
            <mat-form-field appearance="fill" [color]="'primary'" style="width: 7rem">
                <mat-label>Trip</mat-label>
                <mat-select (selectionChange)="boundaryTripChanged($event)" [ngModel]="this.boundaryTripResult">
                    <mat-option *ngFor="let tr of boundaryTripResults" [value]="tr">{{tr.trip==null ? "Intact" : tr.trip.text}} ({{tr.capacity.toFixed(0)}} MW)</mat-option>
                </mat-select>
            </mat-form-field>
        </app-quick-help-dialog-group>

        <!-- Generation models -->
        <app-quick-help-dialog-group helpId="dialog.generationModels" helpTitle="Generation Models"  style="padding-right: 0.5rem">
            <mat-form-field appearance="fill" [color]="'primary'">
                <mat-label>Generation model</mat-label>
                <mat-select (selectionChange)="generationModelChanged($event)" [ngModel]="this.generationModel?.id">
                    <mat-option *ngFor="let tm of generationModels" [value]="tm.id">{{tm.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </app-quick-help-dialog-group>

        <!-- set point mode-->
        <app-quick-help-dialog-group helpId="dialog.setPointMode" helpTitle="Set Point Mode">
            <div class="setPointMode">
                <div class="miniTitle">Set point mode</div>
                <mat-radio-group aria-label="Select an option" [value]="setPointMode" (change)="setPointModeChanged($event)">
                    <div style="margin-bottom: 0.2rem"><mat-radio-button [value]="SetPointMode.Auto">Auto</mat-radio-button></div>
                    <div style="margin-bottom: 0.2rem"><mat-radio-button [value]="SetPointMode.BalanceHVDCNodes">Balance HVDC nodes</mat-radio-button></div>
                    <div><mat-radio-button [value]="SetPointMode.Manual" [disabled]="!canSelectManual">Manual</mat-radio-button></div>
                </mat-radio-group>
            </div>
        </app-quick-help-dialog-group>

        <div class="totalGroup">
            <div class="totalItem"  style="margin-right: 1rem">
                <div>Total Demand</div>
                <div class="total">{{totalDemand.toFixed(0)}} MW</div>
            </div>
            <div  class="totalItem" style="margin-right: 1rem">
                <div>Total Generation</div>
                <div class="total">{{totalGeneration.toFixed(0)}} MW</div>
            </div>
            <div  class="totalItem">
                <div>Total Max TEC</div>
                <div class="total">{{totalMaxTEC.toFixed(0)}} MW</div>
            </div>
            <div class="error">{{errorMsg}}</div>
        </div>

        <div class="calcGroup">
            <button mat-raised-button color="primary" (click)="calc()" [disabled]="!needsCalc">Calc</button>
            <app-quick-help class="nodeMarginalsHelp" helpId="dialog.nodeMarginals" title="Node Marginals"></app-quick-help>
            <label class="nodeMarginals">
                <input type="checkbox" [(ngModel)]="nodeMarginals"/><span style="margin-left: 0.2rem">Node marginals</span>
            </label>
        </div>
    </div>
    <div style="height: 1.2rem;">{{currentTrip}}</div>
    <div style="margin-right: 1rem">
        <mat-progress-bar mode="determinate" [value]="percent"></mat-progress-bar>
    </div>
</div>
