<app-dialog-header [dialogRef]="dialogRef">{{title}}</app-dialog-header>
<div mat-dialog-content id="content">
    <form [formGroup]="form">
        <div class="row">
            <div>
                <app-dialog-selector helpId="data.branches.node" helpTitle="Node 1" [dialog]="dialog" placeholder="Select node 1" name="nodeId1" label="Node 1" [data]="nodes1" [displayFcn]="displayNode" (onSelectionChange)="node1Changed($event)"></app-dialog-selector>
            </div>
            <div>
                <app-dialog-selector helpId="data.branches.node" helpTitle="Node 2" [dialog]="dialog"  placeholder="Select node 2" name="nodeId2" label="Node 2" [data]="nodes2" [displayFcn]="displayNode" (onSelectionChange)="node2Changed($event)"></app-dialog-selector>
            </div>
        </div>
        <div class="row">
            <div>
                <app-dialog-selector helpId="data.branches.type" helpTitle="Branch type" [dialog]="dialog" name="type" placeholder="Enter branch type" label="Type" [data]="branchTypes" (onSelectionChange)="typeChanged()"></app-dialog-selector>
            </div>
            <div>
                <app-dialog-text-input helpId="data.branches.code" helpTitle="Branch code" [dialog]="dialog" name="code" placeholder="Enter code" label="Code"></app-dialog-text-input>
            </div>
        </div>
        <div class="row">
            <div>
                <app-dialog-text-input helpId="data.branches.x" helpTitle="Reactance" [dialog]="dialog" name="x" placeholder="Enter reactance" label="Reactance (x)" [fieldClasses]="{numeric: true}"></app-dialog-text-input>
            </div>
            <div>
                <app-dialog-text-input helpId="data.branches.capacity" helpTitle="Capacity" [dialog]="dialog" name="cap" placeholder="Enter capacity in MW" label="Capacity (MW)" [fieldClasses]="{numeric: true}" (onChange)="onCapChange($event)"></app-dialog-text-input>
            </div>
        </div>
        <div *ngIf="needsLength" class="row">
            <div>
                <app-dialog-text-input helpId="data.branches.ohl" helpTitle="OHL length" [dialog]="dialog" name="ohl" placeholder="Enter OHL length" label="OHL length (km)"
                    [fieldClasses]="{numeric: true}"></app-dialog-text-input>
            </div>
            <div>
                <app-dialog-text-input helpId="data.branches.cableLength" helpTitle="Cable length" [dialog]="dialog" name="cableLength" placeholder="Enter cable length" label="Cable length (km)"
                    [fieldClasses]="{numeric: true}"></app-dialog-text-input>
            </div>
        </div>
        <div *ngIf="isCtrl">
            <div class="separator">Control parameters</div>
            <div  class="row">
                <div>
                    <app-dialog-text-input helpId="data.ctrls.minCtrl" helpTitle="Min set point" [dialog]="dialog" name="minCtrl" label="Min Ctrl" [fieldClasses]="{numeric: true}"></app-dialog-text-input>
                </div>
                <div>
                    <app-dialog-text-input helpId="data.ctrls.maxCtrl" helpTitle="Max set point" [dialog]="dialog" name="maxCtrl" label="Max Ctrl" [fieldClasses]="{numeric: true}"></app-dialog-text-input>
                </div>
            </div>
            <div class="row">
                <div>
                    <app-dialog-text-input helpId="data.ctrls.cost" helpTitle="Cost" [dialog]="dialog" name="cost" label="Cost" [fieldClasses]="{numeric: true}"></app-dialog-text-input>
                </div>
            </div>
        </div>
    </form>
</div>
<app-dialog-footer [dialogRef]="dialogRef" (onOk)="save()"></app-dialog-footer>
