.datasetIcon {
    font-size: 22px;
    width: 18px;
    vertical-align: middle;
    margin-right: 0px !important;
}

.lockIcon {
    color: darkorange;
    font-size: 14px;
    width: 18px;
    height: 12px;
    margin-right: 0px !important;
    text-align: center;
}

.lockIconSpacer {
    display: inline-block;
    width: 10px;
}

.datasetButtons {
    white-space: nowrap;
    font-size: 18pt;
    padding-bottom: 1rem;
}

.iconButton {
    cursor: pointer;
    margin-left: 12px;
    color: grey;
}

.iconButton:hover {
    color: blue;
}

.datasetDropdown {
    display: flex;
    align-items: center;
}

.datasetSelector {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

