<app-table-paginator [dataFilter]="dataFilter" (onFilter)="filterTable($event)" (onAdd)="add()" [typeName]="'Node'"></app-table-paginator>

<div style="overflow: auto; height: calc(100vh - 170px)">
    
    <table style="width: 300px;" #table mat-table [dataSource]="zones" [trackBy]="getNodeId" matSort  matSortActive="code" matSortDirection="asc" matSortDisableClear (matSortChange)="sortTable($event)">

        <!-- buttons Column -->
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <app-cell-buttons [element]="element" typeName="Zone" (onEdit)="edit($event)"></app-cell-buttons>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
            <td mat-cell *matCellDef="let element">
                <div>{{element.code.value}}</div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
        
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{isDeleted: row._isDeleted}"></tr>
    </table>
</div>
