.numberInput {
    width: 3rem;
}

.layout {
    border-collapse: separate;
    border-spacing: 1rem 1rem;    
}

.progressBar {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dateContainer {        
    /*float: left;*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
