<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="More options">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button *ngFor="let app of mainService.apps" mat-menu-item routerLink="{{app.path}}" routerLinkActive="active">
        <span>{{app.title}}</span>
    </button>
    <button mat-menu-item (click)="solarInstallations()">
        <span>Bath Solar Installations</span>
    </button>
    <hr style="margin: 0">
    <button mat-menu-item (click)="openDocument()">
        <span>Data & Digitalisation Strategy Document</span>
    </button>
    <ng-container *ngIf="userService.isAdmin">
        <hr style="margin: 0">
        <button mat-menu-item routerLink="/admin" routerLinkActive="active">
            <span >Admin</span>
        </button>
    </ng-container>
</mat-menu>
