<div *ngIf="mainService.maintenanceMode" class="maintenanceOverlay maintenanceModal"></div>
<div *ngIf="mainService.maintenanceMode" class="maintenanceOverlay">
    <div class="messageBox">
        <div><img class="messageIcon" src="/assets/images/maintenance-icon.png"/></div>
        <div>
            <div>Smart Energy Tools is being maintained and is currently unavailable</div>
            <div>&nbsp;</div>
            <div>The page will automatically refresh when the site becomes available again</div>    
        </div>
    </div>
</div>