<app-dialog-header [dialogRef]="dialogRef">{{title}}</app-dialog-header>
<div mat-dialog-content id="content">
    <form [formGroup]="form">
        <div class="row">
            <div>
                <app-dialog-selector [dialog]="dialog" name="branchId" placeholder="Enter associated branch" label="Branch" [data]="branches" [displayFcn]="getBranchStr" (onSelectionChange)="branchSelected($event)"></app-dialog-selector>
            </div>
            <div>
                <app-dialog-selector [dialog]="dialog" name="type" placeholder="Enter ctrl type" label="Type" [enum]="loadflowCtrlType" (onSelectionChange)="typeSelected($event)"></app-dialog-selector>
            </div>
        </div>
        <div class="row">
            <div>
                <app-dialog-text-input [dialog]="dialog" name="minCtrl" label="Min Ctrl" [fieldClasses]="{numeric: true}"></app-dialog-text-input>
            </div>
            <div>
                <app-dialog-text-input [dialog]="dialog" name="maxCtrl" label="Max Ctrl" [fieldClasses]="{numeric: true}"></app-dialog-text-input>
            </div>
        </div>
        <div class="row">
            <div>
                <app-dialog-text-input [dialog]="dialog" name="cost" label="Cost" [fieldClasses]="{numeric: true}"></app-dialog-text-input>
            </div>
        </div>
    </form>
</div>
<app-dialog-footer [dialogRef]="dialogRef" (onOk)="save()"></app-dialog-footer>
