<div class="dialogContainer">
    <div class="controlGroup">
        <div style="margin-right: 1rem">
            <app-dataset-selector [datasetType]="datasetTypes.BoundCalc"
            (onSelected)="onDatasetSelected($event)" (onReload)="onReload($event)"></app-dataset-selector>
        </div>
        <div>
            <mat-form-field appearance="fill" [color]="'primary'">
                <mat-label>Boundary</mat-label>
                <mat-select (selectionChange)="setBoundary()" [(ngModel)]="boundaryName">
                    <mat-option [value]="'Unspecified'">Unspecified</mat-option>
                    <mat-option *ngFor="let b of boundaries" [value]="b.code">{{b.code}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="tripsContainer" style="margin-right: 1rem">
            <div *ngIf="this.boundaryName==='Unspecified'" style="margin-bottom: 1rem">
                <b>{{numberOfTrips}}</b> trips <span class="cellLink" style="color: navy; text-decoration: underline;" (click)="clearTrips($event);">clear</span>
            </div>
            <div *ngIf="this.boundaryName!=='Unspecified' && boundaryTripResults.length>0">
                <mat-form-field appearance="fill" [color]="'primary'" style="width: 7rem">
                    <mat-label>Trip</mat-label>
                    <mat-select (selectionChange)="boundaryTripChanged($event)" [ngModel]="this.boundaryTripResult">
                        <mat-option *ngFor="let tr of boundaryTripResults" [value]="tr">{{tr.trip==null ? "Intact" : tr.trip.text}} ({{tr.capacity.toFixed(0)}} MW)</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div style="margin-right: 1rem">
            <mat-form-field appearance="fill" [color]="'primary'">
                <mat-label>Transport model</mat-label>
                <mat-select (selectionChange)="transportModelChanged($event)" [ngModel]="this.transportModel?.id">
                    <mat-option *ngFor="let tm of transportModels" [value]="tm.id">{{tm.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="modelGroup"  style="margin-right: 2rem">
            <div class="modelItem">
                <div class="miniTitle">Set point mode</div>
                <mat-radio-group aria-label="Select an option" [value]="setPointMode"
                    (change)="setPointModeChanged($event)">
                    <div style="margin-bottom: 0.2rem"><mat-radio-button [value]="SetPointMode.Auto">Auto</mat-radio-button></div>
                    <div><mat-radio-button [value]="SetPointMode.Manual" [disabled]="!resultsLoaded">Manual</mat-radio-button></div>
                </mat-radio-group>
            </div>
        </div>
        <div class="totalGroup" style="margin-right: 2rem">
            <div class="totalItem"  style="margin-right: 1rem">
                <div>Total Demand</div>
                <div class="total">{{totalDemand.toFixed(0)}} MW</div>
            </div>
            <div  class="totalItem">
                <div>Total Generation</div>
                <div class="total">{{totalGeneration.toFixed(0)}} MW</div>
            </div>
            <div class="error">{{errorMsg}}</div>
        </div>
        <div class="calcGroup">
            <div><button mat-raised-button color="primary" (click)="calc()" [disabled]="!needsCalc">Calc</button></div>
            <div><button style="float: right; color: red" *ngIf="hasCapacityError" mat-stroked-button (click)="adjustBranchCapacities()">Adjust Capacities</button></div>
        </div>
    </div>
    <div style="height: 1.2rem;">{{currentTrip}}</div>
    <div style="margin-right: 1rem">
        <mat-progress-bar mode="determinate" [value]="percent"></mat-progress-bar>
    </div>
</div>
