.dialogContainer {
    padding-right: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.controlGroup {
    display: flex;
    flex-wrap: wrap;
}

.tripsContainer {
    padding-left: 1rem;
}

.miniTitle {
    font-weight: bold;;
    color: var(--primary-colour);
}

.modelGroup {
    font-size: 9pt;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.modelItem {
    display: inline-block;
}

.totalGroup {
    font-size: 10pt;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.total {
    font-weight: bold;
}

.totalItem {
    display: inline-block;
}

.calcGroup {
    align-self: center;
    margin-bottom: 1rem;
}

.error {
    color: red;
}
