<div style="padding: 1rem">
    <table style="width: 100%">
        <tr>
            <td colspan="2">
                <app-dataset-selector [datasetType]="datasetTypes.BoundCalc" (onSelected)="onDatasetSelected($event)"></app-dataset-selector>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; width:50%; height:50%">
                <mat-form-field appearance="fill" [color]="'primary'">
                    <mat-label>Boundary</mat-label>
                    <mat-select (selectionChange)="setBound()" [(ngModel)]="boundaryName">
                        <mat-option [value]="'Unspecified'">Unspecified</mat-option>
                        <mat-option *ngFor="let b of boundaries" [value]="b.code">{{b.code}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td style="vertical-align: top;" rowspan="2">
                <mat-form-field appearance="fill" [color]="'primary'">
                    <mat-label>Trip</mat-label>
                    <mat-select (selectionChange)="tripSelected($event)">
                        <mat-option *ngFor="let br of branches" [value]="br.id">
                            <span>{{br.displayName}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top" >
            <!--<div style="font-weight: bold">Power flow (Gw)</div>
                <table style="">
                    <tr>
                        <td>Inside</td>
                        <td>G <b>{{flowResult.genInside.toFixed(0)}}</b></td>
                        <td>D <b>{{flowResult.demInside.toFixed(0)}}</b></td>
                    </tr>
                    <tr>
                        <td>Outside</td>
                        <td>G <b>{{flowResult.genOutside.toFixed(0)}}</b></td>
                        <td>D <b>{{flowResult.demOutside.toFixed(0)}}</b></td>
                    </tr>
                    <tr>
                        <td>Transfer</td>
                        <td><b>{{(flowResult.genInside - flowResult.demInside).toFixed(0)}}</b></td>
                        <td>IA <b>{{flowResult.ia.toFixed(0)}}</b></td>
                    </tr>
                </table>
            -->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="padding-top: 1rem">
                    <button mat-stroked-button (click)="calc()">Calc</button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 1rem">
                <div style="height: 1.2rem">{{currentTrip}}</div>
                <mat-progress-bar mode="determinate" [value]="percent"></mat-progress-bar>
            </td>
        </tr>
    </table>
</div>