<div class="dialogContainer">
    <div class="controlGroup">
        <div style="margin-right: 1rem">
            <app-dataset-selector [datasetType]="datasetTypes.BoundCalc"
            (onSelected)="onDatasetSelected($event)"></app-dataset-selector>
        </div>
        <div>
            <mat-form-field appearance="fill" [color]="'primary'">
                <mat-label>Boundary</mat-label>
                <mat-select (selectionChange)="setBoundary()" [(ngModel)]="boundaryName">
                    <mat-option [value]="'Unspecified'">Unspecified</mat-option>
                    <mat-option *ngFor="let b of boundaries" [value]="b.code">{{b.code}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="tripsContainer" style="margin-right: 1rem">
            <div><b>{{numberOfTrips}}</b> trips selected</div>
            <mat-checkbox class="example-margin" [disabled]="this.boundaryName=='Unspecified'" [(ngModel)]="boundaryTrips">Boundary trips</mat-checkbox>
        </div>
        <div class="modelGroup"  style="margin-right: 2rem">
            <div class="miniTitle">Transport model</div>
            <mat-radio-group aria-label="Select an option" [value]="transportModel"
                (change)="transportModelChanged($event)">
                <div style="margin-bottom: 0.2rem"><mat-radio-button [value]="TransportModel.PeakSecurity">Peak security</mat-radio-button></div>
                <div><mat-radio-button [value]="TransportModel.YearRound">Year round</mat-radio-button></div>
            </mat-radio-group>
        </div>
        <div class="modelGroup"  style="margin-right: 2rem">
            <div class="miniTitle">Set point mode</div>
            <mat-radio-group aria-label="Select an option" [value]="setPointMode"
                (change)="setPointModeChanged($event)">
                <div style="margin-bottom: 0.2rem"><mat-radio-button [value]="SetPointMode.Auto">Auto</mat-radio-button></div>
                <div><mat-radio-button [value]="SetPointMode.Manual" [disabled]="!resultsLoaded">Manual</mat-radio-button></div>
            </mat-radio-group>
        </div>
        <div class="calcGroup">
            <div><button mat-raised-button color="primary" (click)="calc()">Calc</button></div>
            <div><button style="float: right; color: red" *ngIf="hasCapacityError" mat-stroked-button (click)="adjustBranchCapacities()">Adjust Capacities</button></div>
        </div>        
    </div>
    <div style="height: 1.2rem;">{{currentTrip}}</div>
    <mat-progress-bar mode="determinate" [value]="percent"></mat-progress-bar>
</div>