.dialogContainer {
    padding: 1rem;
}

.controlGroup {
    display: flex;
    flex-wrap: wrap;
}

.tripsContainer {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.miniTitle {
    font-weight: bold;;
    color: var(--primary-colour);
}

.modelGroup {
    font-size: 9pt;
    display: inline-block;
    margin-bottom: 1rem;
}

.calcGroup {
    align-self: center;
    margin-bottom: 1rem;
}
