<google-map width="100%" height="100%" [center]="center" [zoom]="zoom" [options]="options" (zoomChanged)="zoomChanged()" (centerChanged)="centerChanged()">
    <div #key>
        <app-map-key></app-map-key>
    </div>
    <!-- note using stroke colour of none until we can get polygon from the GSPs -->
    <map-polygon [paths]="areaBoundary" [options]="{ fillColor: 'none', fillOpacity: 0, strokeColor: 'red', strokeWeight: 0}" (polygonClick)="setGeographicalArea($event)"></map-polygon>
    <!-- power -->
    <app-map-power></app-map-power>
    <!-- vehicle charging stations -->
    <app-map-ev  *ngIf="mapDataService.showEVChargers"></app-map-ev>
    <!-- info window for geographical areas -->
    <map-info-window #areaInfoWindow>
        <app-area-info-window></app-area-info-window>
    </map-info-window>    

</google-map>
